gesture_detection/hands_dataset/
gesture_detection/hands_dataset.zip
gesture_detection/hands_dataset_processed/
gesture_detection/palm_hold_release*
gesture_detection/palm_up_down*
__pycache__/
hand_landmarker.task

.venv
.DS_Store